<p>Begin by creating your first guest</p>

<%= form_for @new_guest, :url => { method: :post, action: :create, class:"form" } do |f|%>

  <div class="form-group">
    <%= f.label @name %>
    <%= f.text_field @name %>
  </div>

  <div class="form-group">
    <%= f.label @phone %>
    <%= f.text_field @phone %>
  </div>

  <%= f.hidden_field :receipt_id, :value => params[:receipt_id] %>

  <%= f.submit "Submit" %>

<% end %>
