<h4 class="text">Add Tip</h4>

<h5 class="text">Receipt Summary</h5>

<!-- Button trigger modal -->
<!-- <button class="btn btn-link" data-toggle="modal" data-target="#todo-<%= @current_guest_id %>-notes">
  Calculate Tip
</button> -->

<!-- Modal -->
<!-- <div class="modal fade" id="todo-<%= @current_guest_id %>-notes" tabindex="-1" role="dialog" aria-labelledby="todo-<%= @current_guest_id %>-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="todo-<%= @current_guest_id %>-label">Calculate Tip</h4>
      </div>
      <div class="modal-body">
        Meal total: <%=@total + @tax%>
        <!-- TODO - is there a way to provide a range tag with the number and the javascrip -->
      <!-- </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->


<%= form_tag (guests_tip_add_path(guest_id: @current_guest_id)) do %>
  <table class="table-responsive receipt">
    <tr>
      <th>Description</th>
      <th>Price</th>
    </tr>
    <% @guest_items.each do |item| %>
      <tr>
        <td><p><%= ListItem.find(item.list_item_id).description%></p></td>
        <td><%= item.price%></td>
      </tr>
    <% end %>
    <tr>
      <td>TAX</td>
      <td><%=@tax.round(2)%></td>
    </tr>
    <tr>
      <td>TOTAL</td>
      <td><%=@total + @tax.round(2)%></td>
    </tr>
    <tr>
      <td><%= label_tag(:tip, "TIP:") %></td>
      <td><%= text_field_tag(:tip) %></td>
    </tr>
  </table>

  <%= submit_tag("Submit", class:"btn btn-primary")%>
<% end %>
