<section>

  <h3 class="labels">Now, lets begin splitting</h3>

  <% if flash[:notice] %>
    <div class="notice text important"><h3><%= flash[:notice] %><h3></div>
  <% end %>

  <div class="">
    <h2 class="labels to-pop important">Current User: <%= @current_guest.name %></h2>
  <div>

  <p class="labels">To change the user, simply click on their name below or add a new guest if not in the list below</p>

  <% @receipt_guests.each do |guest| %>
    <p><%= link_to guest.name, receipt_guest_guest_items_path(receipt_id: guest.receipt_id, guest_id: guest.id), class:"labels"%></p>
  <% end %>

  <!-- Button trigger modal -->
  <button class="btn btn-primary" data-toggle="modal" data-target="#receipt-guest-<%= @receipt_id %>-notes">
    Add New Guest
  </button>

  <!-- Modal -->
  <div class="modal fade" id="receipt-guest-<%= @receipt_id %>-notes" tabindex="-1" role="dialog" aria-labelledby="receipt-guest-<%= @receipt_id %>-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title labels" id="receipt-guest-<%= @receipt_id %>-label">Calculate Tip</h4>
        </div>
        <div class="modal-body">
          <%= form_for @new_guest, :url => { method: :post, action: :create_guest, class:"form-horizontal", remote: true } do |f|%>

            <div class="form-group">
              <%= f.label :name, class: "col-md-4 control-label labels"   %>
              <%= f.text_field :name, class: "form-control"   %>
            </div>

            <div class="form-group">
              <%= f.label :phone, class: "col-md-4 control-label labels"   %>
              <%= f.text_field :phone, class: "form-control"   %>
            </div>

            <%= f.hidden_field :receipt_id, :value => params[:receipt_id] %>
            <%= f.submit "Submit", class: "btn btn-primary" %>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>


  <%= form_tag (update_guest_items_path(guest_id: @guest_id)) do %>
    <table class="table-responsive">
      <tr class="receipt important">
        <th>Description</th>
        <th>Price</th>
        <th>Check</th>
      </tr>
      <% @guest_items.each do |item| %>
        <tr class="receipt <%= 'claimed' if item.guest_id != nil %>">
          <td><p><%= ListItem.find(item.list_item_id).description%></p></td>
          <td><%= item.price%></td>

          <!-- The checkbox should be prechecked it the guest_id id == guest.id -->

          <% if item.guest_id != @current_guest.id %>
            <td><%= check_box_tag 'item_ids[]', item.id %></td>
            <%= h item.guest_id -%>
          <% else %>
            <td><%= check_box_tag 'item_ids[]', item.id, true %></td>
            <%= h item.guest_id -%>
          <% end %>

          <!-- TODO maybe make what is visible to the guest different depending on what is available to be checked off -->

        </tr>
      <% end %>
    </table>

    <div class="actions">
      <input type="submit" value="Submit My Orders" class= "btn btn-primary">
    </div>

    <% end %>

    <p><%= link_to "Finalize Receipt", finalize_receipt_path(receipt_id: params[:receipt_id]), class: "btn btn-primary btn-important" %></p>



</section>
