<section>
  <p><%= @receipt %></p>

  <p>Check the items that you ordered</p>

  <p>Current User: <%= @current_guest.name %></p>


  <table class="table">
    <tr>
      <th>Description</th>
      <th>Price</th>
      <th>Check</th>
    </tr>
    <% @guest_items.each do |item| %>
      <tr>
        <td><%= ListItem.find(item.list_item_id).description%></td>
        <td><%= item.price%></td>
        <td><%= check_box_tag 'item_ids[]', item.id -%></td>
        <%= h item.guest_id -%>
      </tr>
    <% end %>
  </table>

  <div class="actions">
    <input type="submit" value="Submit Orders">
  </div>
</section>
