<section>
  <p><%= @receipt %></p>

  <p>Check the items that you ordered</p>

  <p>All guests associated with receipt</p>
  <% @receipt_guests.each do |guest| %>
    <p><%= link_to guest.name, receipt_guest_guest_items_path(receipt_id: guest.receipt_id, guest_id: guest.id), class: "button btn" %></p>
  <% end %>

  <p>Current User: <%= @current_guest.name %></p>

  <%= form_tag (update_guest_items_path(guest_id: @guest_id)) do %>
    <table class="table">
      <tr>
        <th>Description</th>
        <th>Price</th>
        <th>Check</th>
      </tr>
      <% @guest_items.each do |item| %>
        <tr class="<%= 'claimed' if item.guest_id != nil %>">
          <td><p><%= ListItem.find(item.list_item_id).description%></p></td>
          <td><%= item.price%></td>
          <td><%= check_box_tag 'item_ids[]', item.id %></td>
          <%= h item.guest_id -%>
        </tr>
      <% end %>
    </table>

    <div class="actions">
      <input type="submit" value="Submit My Orders">
    </div>

    <% end %>

</section>
