<section>

  <h2 class="logo">Welcome</h2>

  <p class="text">Welcome to RestEasy! Where we help you and your friends split your restaurant receipts. Here you will find instructions on how to optimize your experience, refer back to this page if you ever have a question about how to improve your experience. Enjoy!</p>

  <h2 class="logo">Make the most of the photos you upload</h2>

  <p class="text">Make the most of the photos you uploading. Check out some examples of photos that are best turned into text and ones that aren't. The better the photo, the less you type. To optimize phots:</p>

  <ul class="text">
    <li>Take the picture directly over the receipt</li>
    <li>Crop the receipt so only the line items are showing</li>
    <li>Optimize text clarity</li>
  </ul>



  <ul>
    <h3 class="logo">Good Receipts</h3>

    <li class="no-bullet"><%=image_tag("good1.JPG", :alt => "Good Photo", :class => "receipt-image center")%>
      <p>1. Picture taken directly above receipt, 2. No letters are cut off, 3. Receipt not standing on an angle, 4. Clear text.</p>
    </li>

    <li class="no-bullet"><%=image_tag("good2.JPG", :alt => "Good Photo", :class => "receipt-image center")%>
      <p>1. Picture taken directly above receipt, 2. No letters are cut off, 3. Receipt not standing on an angle, 4. Clear text.</p>
    </li>

    <h3 class="logo">Bad Receipts</h3>

    <li class="no-bullet"><%=image_tag("angle.JPG", :alt => "Photo taken at an angle", :class => "receipt-image center")%>
      <p>Photo taken at an angle not directly over the photo.</p>
    </li>

    <li class="no-bullet"><%=image_tag("full.JPG", :alt => "Photo of full receipt", :class => "receipt-image center")%>
      <p>Photo is sideways and includes the full receipt instead of just the line items.</p>
    </li>

    <li class="no-bullet"><%=image_tag("blurry.JPG", :alt => "Blurry receipt", :class => "receipt-image center")%>
      <p>Text in receipt could be better defined.</p>
    </li>

    <li class="no-bullet"><%=image_tag("sideway.JPG", :alt => "Sideways receipt", :class => "receipt-image center")%>
      <p>Receipt is crooked and includes more text than just the line items.</p>
    </li>
    <ul>



      <ul>

        <ul>

        </section>
