
<article>

  <section>
    <p>Receipt id: <%= params[:receipt_id] %></p>
    <h1>You are displaying the show page for <%= @receipt.zip_code %></h1>
  </section>

  <section>
    <p><%= link_to "New List Item", new_receipt_list_item_path(receipt_id: params[:receipt_id]) %></p>
    <p><%= link_to "Let's Begin Splitting", new_receipt_guest_path(receipt_id: params[:receipt_id]) %></p>

  </section>

  <table class="table">
    <tr>
      <th>Quantity</th>
      <th>Description</th>
      <th>Price</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <% @items_per_receipt.each do |i| %>
      <tr>
        <td><%= i.quantity %></td>
        <td><%= i.description %></td>
        <td><%= "%.2f" % i.price %></td>
        <td><%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_receipt_list_item_path(id:i.id) %></td>
        <td><%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, receipt_list_item_path(id: i.id), method: :delete, class: "btn btn-danger"%></td>

      </tr>
    <% end %>
  </table>

</article>
