
<h3 class="text">Final Tally</h3>

<p  class="text">Need to figure out how to configure this page. How to best display the final results to user</p>

<!-- Iterate through the guest to give their total, tip, tax, and final -->

<table class="table-responsive receipt table">
  <tr>
    <th>Name</th>
    <th>Total</th>
  </tr>
  <% @guests_per_receipt.each do |person| %>
    <tr>
    <% if person.item_total != nil %>
      <td><%= person.name %>:</td>
      <td>$<%= (person.item_total * 1.095 + person.tip).round(2) %></td>
    <% else %>
      <td><%= person.name %>:</td>
      <td>$0</td>
    <% end %>
    </tr>
  <% end %>

</table>

<table class="table-responsive receipt table">
  <tr>
    <th>Item Total:</th>
    <td><%= @total.round(2)%></td>
  </tr>
  <tr>
    <th>Tax:</th>
    <td>$<%=@tax.round(2)%></td>
  </tr>
  <tr>
    <th>Tip:</th>
    <td>$<%= @receipt_tip.round(2)%></td>
  </tr>
  <tr>
    <th>Final</th>
    <td>$<%= @final.round(2) %></td>
  </tr>

</table>
