<% if !flash[:notice].blank? %>
  <div class="alert alert-info">
  <%= flash[:notice] %>
  </div>
<% end %>
<br />
<%= link_to "New Receipt", new_receipt_path, class: "btn btn-primary" %>
<br />
<br />
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Zip Code</th>
      <th>Original Receipt</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @receipts.each do |receipt| %>
      <tr>
        <% if receipt.status == 1 %>
          <td><%= link_to receipt.name, receipt_list_items_path(receipt.id) %></td>
        <% elsif receipt.status == 2 %>
          <td><%= link_to receipt.name, receipt_guest_guest_items_path(receipt_id: receipt.id, guest_id: Guest.where(receipt_id: receipt.id).last) %></td>
        <% end %>

        <td><%= receipt.zip_code %></td>

        <td><div class="icon btn"><%= link_to '<i class="fa fa-download" aria-hidden="true"></i>'.html_safe, receipt.attachment_url, class: "btn"  %><div></td>

        <td><div class="icon btn"><%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, receipt, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{receipt.name}?" %><div></td>
      </tr>
    <% end %>
  </tbody>
</table>
