<% if !flash[:notice].blank? %>
  <div class="alert alert-info">
  <%= flash[:notice] %>
  </div>
<% end %>
<br />
<%= link_to "New Receipt", new_receipt_path, class: "btn btn-primary" %>
<br />
<br />
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Zip Code</th>
      <th>Download Link</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @receipts.each do |receipt| %>
      <tr>

        <td><%= link_to receipt.name, receipt_path(receipt.id) %></td>
        <td><%= receipt.zip_code %></td>
        <td><%= link_to "Download Receipt", receipt.attachment_url %></td>
        <td><%= button_to "Delete",  receipt, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{receipt.name}?" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
