<article>

<!-- Modal - information about how to properly upload a photo -->
<div class="container-fluid">

  <div class="page-header">
    <div class="row">
      <i class="fa fa-info fa-3x" data-toggle="modal" data-target="#aboutModal"></i>
    </div>
  </div>


  <div class="modal fade", id="instructionModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal Content -->

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">x</button>
          <h2 class="modal-title">About this Project</h2>
        </div>

        <div class="modal-body">
          <p>This is maddie's capstone</p>
        </div>
      </div>
    </div>
  </div>
</div>

  <% if !@receipt.errors.empty? %>
    <div class="alert alert-error">
      <ul>
        <% @receipt.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="well">
    <%= form_for @receipt, html: { multipart: true } do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :zip_code %>
      <%= f.text_field :zip_code %>
      <%= f.label :attachment %>
      <%= f.file_field :attachment %>
      <%= f.submit "Save", class: "btn btn-primary button" %>
    <% end %>
  </div>

  <div>
    <%= link_to "Cancel", receipts_path, class: "button" %>
  </div>

</article>
