<article>


  <h3 class="labels">Add a New Receipt</h3>

  </br>

  <% if !@receipt.errors.empty? %>
    <div class="alert alert-error">
      <ul>
        <% @receipt.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="well">
    <%= form_for @receipt, html: { multipart: true, class: "form-horizontal" } do |f| %>

    <div class="form-group">
      <%= f.label :name, class: "col-md-4 control-label labels"   %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :zip_code, class: "col-md-4 control-label labels"   %>
      <%= f.text_field :zip_code, class: "form-control" %>
    </div>

    <div class="form-group">
      <!-- Find a way to change the button -->
      <%= f.label :attachment, class: "col-md-4 control-label labels"  %>
      <%= f.file_field :attachment, class: "form-control"%>
    </div>

      <%= f.hidden_field :status, :value => 1 %>
      <%= f.submit "Save", class: "btn btn-primary button" %>
    <% end %>
  </div>

  <div>
    <%= link_to "Cancel", receipts_path, class: "btn button" %>
  </div>

</article>
