<article>

  <section>
    <h1>You are displaying the show page for <%= @receipt.zip_code %></h1>

    <p><%= button_to "Lets Begin Dividing", new_list_item_path %></p>
  </section>

  <section>
    <p><%= link_to "New List Item", new_list_item_path, remote: true %></p>
    <div id = "list_item_form" style = "display:none"></div>

    <div class="row">
      <div class="col-md-6 col-md-offset-2" id="list_item_form" style="display:none;"></div>
    </div>

  </section>

  <table>
    <tr>
      <th>Quantity</th>
      <th>Description</th>
      <th>Price</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <% @items_per_receipt.each do |i| %>
      <tr>
        <td><%= i.quantity %></td>
        <td><%= i.description %></td>
        <td><%= "%.2f" % i.price %></td>
        <td><%= link_to "Edit", edit_list_item_path(i.id) %></td>
        <td><%= link_to "Delete", delete_list_item_path(i.id) %></td>
      </tr>
    <% end %>
  </table>

</article>
