<h1>You are displaying the show page for <%= @receipt.id %></h1>

<section>
<table>
  <tr>
    <th>Quantity</th>
    <th>Description</th>
    <th>Price</th>
    <th>Edit</th>
  </tr>
  <% @items_per_receipt.each do |i| %>
    <tr>
      <td><%= i.quantity %></td>
      <td><%= i.description %></td>
      <td><%= i.price * 0.01 %></td>
      <td><%= link_to "Edit", edit_list_item_path(i.id) %></td>
    </tr>
  <% end %>
</table>

</section>
