<h1>You are displaying the show page for <%= @receipt.id %></h1>

<p>Show the image tag <%= @receipt.attachment %><p>

<p>SHOW IMAGE TEXT!!! <%= @text %></p>

<p>SHOW IMAGE TEXT SPLIT!!!</p>

<% @split.each do |line| %>
  <p><%= line %></p>
<% end %>



<p>Sales TAx!!! <%= @tax %></p>
