<article>

  <section>
    <h1>You are displaying the show page for <%= @receipt.zip_code %></h1>
  </section>

  <section>
    <p><%= link_to "New List Item", new_list_item_path(receipt_id: params[:id]) %></p>
    <p><%= params[:id] %></p>

  </section>

  <table>
    <tr>
      <th>Quantity</th>
      <th>Description</th>
      <th>Price</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <% @items_per_receipt.each do |i| %>
      <tr>
        <td><%= i.quantity %></td>
        <td><%= i.description %></td>
        <td><%= "%.2f" % i.price %></td>
        <td><%= link_to "Edit", edit_list_item_path(i.id) %></td>
      </tr>
    <% end %>
  </table>

</article>
